
# игнорирует папку tmp
/tmp/*
# игнорирует файлы имя которых заканчивается на old
*old.*
# игнорирует файлы расширение которых заканчивается на old
*.*old*
# игнорирует файлы имя которых заканчивается на backup
*backup.*
# игнорирует указанный файл
Thumbs.db
# игнорирует указанный файл в корнавом каталоге
*.DS_Store
# игнорирует файлы расширение которых заканчивается на backup
*.*backup